configure~
autom4te.cache
config.log
config.status
.cargo/config.toml
src/Makevars
src/Makevars.win
src/miniextendr_wrappers.R
src/rust/Cargo.toml
src/rust/document.rs
src/entrypoint.c
src/*.o
src/*.so
src/*.dll
src/rust/ra_target
src/rust/target
src/rust/.cargo
src/vendor/
